{% include 'sale_header.html' %}
<div class="container" style="margin:0 auto;padding-top:30px;">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h5 class="card-header">Add Tractor</h5>
        <div class="card-body">
            {% if messages %}
              {% for i in messages %}
                <div class="alert alert-success">{{i}}</div>
              {% endfor %}
            {% endif %}
            <form  id="basicform" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group">
                    <label for="TractorName">Tractor Name</label>
                    <input id="TractorName" type="text" name="TractorName" required="required"  class="form-control">
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input id="Description" type="text" name="Description" required="required"  class="form-control">
                </div>
                 <div class="form-group">
                    <label for="Price">Price</label>
                    <input id="Price" type="text" name="Price" required="required"  class="form-control">
                </div>
                <div class="form-group">
                    <label for="Image">Image</label>
                    <input id="Image" type="file" name="Image" required="required"  class="form-control">
                </div>
               
                <div class="row">
                    <div class="col-sm-6 pl-0">
                    </div>
                    <div class="col-sm-6 pl-0">
                        <p class="text-right">
                            <input type="submit" class="btn btn-space btn-primary" value="Add Tractor" name="add_job">
                            <button type="reset" class="btn btn-space btn-secondary">Cancel</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
