{% include 'header.html'%}

    <section class="ftco-section">
      <div class="container" style="background-color: #FFF;padding: 0 20px 20px;box-shadow:10px 10px 10px 10px #DDD;margin-top: 20px;border-radius: 10px;">
        
        <div class="row no-gutters justify-content-center ">
          <div class="col-md-7 text-center heading-section " style="padding-top: 30px;">
            <h2>Send Interest On Property</h2>
          </div>
        </div>
        <div class="alert alert-success">Your Request Sent Will Contact You Soon.</div>
		    </div>
      </section>
{% include 'footer.html' %}